.service-section {
    text-align: center;

    .color-white {
        color: #fff;
    }


    &__descr {}


    &__text-block {
        color: #fff;
    }

    &__price-block {
        background-color: #fff;
        border-radius: 12px;
        color: #000;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 500px;
        margin: 20px auto 0px;
        padding: 10px;

    }

    &__price-block-item {
        &:first-child{
            border-right: 1px solid #333;
            padding: 0px 10px 0px 0px;
        }
        &:last-child{
          
            padding: 0px 0px 0px 10px;
        }
      
    }
}

.bg-holder {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../images/images/bg2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px 0px;


}