
  .btn {
    width: 40px;
    height: 44px;
    position: absolute;
    top: 65px;
    right: 12%;
    z-index: 10;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 3px;

  }
